body{
    margin: 0px;
}
#container {
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    touch-action: none;
  }

  .item {
    touch-action: none;
    user-select: none;
    position: relative;
  }
  .kwadrat {
    background: red;
    width: 200px;
    height: 200px;
    touch-action: none;
    user-select: none;
    top: 0px;
    left: 0px;
  }

  .trojkat {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid green;
    top: 30%;
    left: 10%;
  }

  .kolo {
    width: 200px;
    height: 200px;
    background: blue;
    border-radius: 50%;
    position: relative;
    top: -15px;
  }

  .romb {
    width: 0;
    height: 0;
    border: 150px solid transparent;
    border-bottom-color: yellow;
    position: relative;
    top: -150px;
    top: -10%;
    left: 5%;
  }
  .romb:after{
    content: '';
    position: absolute;
    left: -150px;
    top: 150px;
    width: 0;
    height: 0;
    border: 150px solid transparent;
    border-top-color: yellow;
  }

  .item:active {
    opacity: .75;
  }

  .item:hover {
    cursor: pointer;
  }